html.small-font,
html.middle-font,
html.large-font {
    font-size: 0.875em;
}

body {
    background-color: var(--icolor-lightgray);
}

body.iweb {
    overflow: auto;
}

body.iweb::before {
    position: fixed;
    content: '';
    background-image: url(../image/iweby-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 256px;
    height: 256px;
    right: 20px;
    bottom: 0px;
    opacity: 0.5;
}

header.page-header {
    position: fixed;
    background: var(--icolor-primary);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    z-index: 12;
}

header.page-header > div {
    position: relative;
    padding: 10px;
}

header.page-header div.menu {
    float: left;
    color: #fff;
}

header.page-header div.menu > a {
    position: relative;
    display: block;
    padding: 0px 5px;
}

header.page-header div.menu > a > i {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
}

header.page-header div.menu > a > span {
    display: inline-block;
    color: #fff;
    margin-left: 5px;
    vertical-align: middle;
}

header.page-header div.menu > ul {
    position: absolute;
    background-color: var(--icolor-primary);
    display: none;
    list-style: none;
    top: 100%;
    left: 0px;
    padding: 10px 0px;
    border-top: 1px solid #fff;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

header.page-header div.menu > ul.show {
    display: block;
}

header.page-header div.menu > ul > li {
    display: block;
}

header.page-header div.menu > ul > li > a {
    display: block;
    color: #fff;
    padding: 8px 15px;
    line-height: 20px;
}

header.page-header div.menu > ul > li > a > i {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

header.page-header div.menu > ul > li > a > span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

header.page-header div.menu > ul > li > a:hover {
    background-color: #fff;
    color: var(--icolor-primary);
}

header.page-header div.menu > ul > li > a:hover > i {
    color: var(--icolor-primary);
}

header.page-header div.welcome {
    float: right;
    color: #fff;
    line-height: 20px;
    padding-right: 5px;
}

main {
    position: relative;
    height: 100vh;
    padding-top: 60px;
}