<!DOCTYPE html>
<html>
    <head>
        <title>Application launching</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        body {
            padding: 0px;
            margin: 0px;
            overflow: hidden;
        }

        body > div {
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            border-radius: 12px;
        }
    </style>
    </head>
    <body>
        <div>
            <img src="../assets/image/hourglass.gif" alt="hourglass"/>
        </div>
    </body>
</html>